.classpath
.DS_Store
.metadata/
.settings/
/*/**/bin/**/*
.gitignore
/bin

bin/resources.ap_

bin/classes.dex

bin/classes.dex

bin/Class-Planner.apk

.gitignore

.gitignore

bin/resources.ap_

bin/Class-Planner.apk

bin/classes.dex

bin/resources.ap_

gen/school/planner/R.java
